<div class="container">
    <div class="card card-container">
        <div style="text-align: center;"><h3>Sign in</h3></div>
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <form action="/users/signin" method="POST" class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form>
        <a href="/users/signup" class="new-user">
            New user?
        </a>
    </div>
</div>